trend-shop-71738-firebase-adminsdk-fbsvc-e4a2ef9b11.json
node_modules/
.env
generate.js
testFirestore.js
data.csv
firebase-debug.log
firebase.json
package.json
package-lock.json
.firebaserc
hosting..cache
env.js
